<section class="container">
  <div class="pt-5 mb-5 d-flex justify-content-between">
    <div class="profile-left d-flex justify-content-between">
      <div class="profile-left-sx">
        <div class="image image-profile d-flex">
          <%= image_tag @user.image, height: "200" %>
        </div>
        <div class="d-flex align-items-baseline">
          <%= image_tag "pos-icon.png", height: "15" %>
          <a class="txt pl-1">Valencia, Spain</a>
        </div>
        <hr>
        <a href="/events?search[organizer]=<%= @user.username %>"><p class="txt"><%= Event.by_organizer(@user.username).count %> publications</p></a>
        <hr>
        <a href="/events?search[user_id]=<%= @user.id %>"><p class="txt"><%= @user.events.count %> subcribtions</p></a>
        <hr>
      </div>
      <div class="profile-left-dx pl-5">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <h1><%= @user.username.camelcase %></h1>
          <% if current_user.followed_user.include?(@user) && @user != current_user %>
            <button class="btn bg-logo"><a href="/users/unfollow/<%= @user.id %>" class="ban text-white">Unfollow</a></button> 
          <% end %>
          <% if !current_user.followed_user.include?(@user) && @user != current_user %>
            <button class="btn bg-logo"><a href="/users/follow/<%= @user.id %>" class="ban text-white">Follow</a></button> 
          <% end %>
        </div>
        <div class="d-flex align-items-baseline justify-content-between">
          <p class="txt-light mr-5"><%= @user.role.camelcase %></p>
          <% if user_session && @user.role != "banned" && current_user.id != @user.id && current_user.role == "admin" %>
            <button class="btn btn-danger"><a href="/users/ban/<%=@user.id%>" class="ban text-white">Ban user</a></button>
          <% end %>
          <% if user_session && @user.role == "banned" && current_user.id != @user.id && current_user.role == "admin" %>
            <button class="btn bg-logo"><a href="/users/unban/<%=@user.id%>" class="ban text-white">Unban user</a></button>
          <% end %>
        </div>
        <hr>
        <div class="d-flex align-items-baseline mt-4">
          <h4 class="mr-2">Member from:</h4>
          <h5 class="txt-light"><%= @user.created_at.strftime("%d, %B, %Y") %></h5>
        </div>
        <hr>
        <div>
          <h4 class="mr-2">About</h4>
          <p class="txt-light w-100"><%= @user.description %></p>
        </div>
      </div>
    </div>
    <div class="profile-right text-center">
      <div class="d-flex justify-content-around align-items-baseline friends-link">
        <a class="friendship" href="/users/<%= @user.id %>?search[followed]=0"><h4>Follow</h4></a>
        <a class="friendship" href="/users/<%= @user.id %>?search[follower]=1"><h4>Followers</h4></a>
      </div>

      <% if @friend_list.present? %>
        <% @friend_list.all.each do |user| %>
          <div class="friends-container align-items-center d-flex border m-2 p-3">
            <div class="friend-img">
              <%= image_tag user.image, height: "100%" %>
            </div>
            <div class="friend">
              <h5><%= user.username.humanize %></h5>
              <a class="txt" href="/users/<%= user.id %>">Show profile<a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if current_user.admin? || current_user.id == @user.id %>
    <%= link_to "Edit profile", edit_registration_path(@user), class: "txt mb-5" %><br />
  <% end %>
</section>