<div class="d-flex flex-column align-items-center">
  <% if user_session %>
    <% @users.each do |user| %>
          <div class="bg-logo text-white w-25 mt-5 p-4 rounded">
              <h3> <%= user.fullname %> </h3>
              <p> <%= user.username %> </p>
              <h5> <%= user.email %> </h5>
              <a class="btn btn-secondary" href="/users/<%= user.id %>">View profile</a>
          </div>
    <% end %>
  <% else %>
    <%= image_tag "FunWith.png", width: 480, height: 480 %>
    <h3>Subscribe if you want to enjoy in interesting and funny events close to you!</h3>
    <li class="nav-link"><a class="btn bg-logo text-white" href="/users/sign_in">Sign in</a></li>
  <% end %>
  
</div>