<section class="body d-flex w-100">
    <%= render "sidebar" %>
    <div class="d-flex flex-column w-75 align-items-center" style="margin-left:25%;">
      <% if @users %>
        <% @users.each do |user| %>
          <div class="bg-logo text-center text-white w-25 mb-5 p-4 rounded">
            <h3> <%= user.fullname %> </h3>
            <p> <%= user.username %> </p>
            <h5> <%= user.email %> </h5>
            <a class="btn btn-secondary" href="/users/<%= user.id %>">View profile</a>
          </div>
        <% end %>
      <% end %>
    </div>
</section>
