<section class="d-flex w-100">
  <%= render "sidebar" %>
  <div class="text-center h-100 w-75 d-flex flex-column align-items-center" style="margin-left:22.5%;">
    <div class="d-flex justify-content-between">
      <%= render "nav_events" %>
      <%= render "nav_tags" %>
    </div>
    
    <div class="container d-flex flex-column align-items-center border rounded p-5">
   
      <% @events.each do |event| %>
          <div id="events" class="event bg-warning mt-5 p-4 rounded">
            <h3> <%= event.title %> </h3>
            <p> <%= event.description %> </p>
            <h5> <%= event.date_event %> </h5>
            <p>
              <%= link_to "Show this event", event %>
            </p>
          </div>
      <% end %>

    </div>
   
  </div>
</section>
