<section class="d-flex w-100">
  <%= render "sidebar" %>
  <div class="text-center h-100 w-75 d-flex flex-column align-items-center" style="margin-left:22.5%;">
    <%= render "nav_events" %>
    <% if @events.first %>
      <div class="container d-flex flex-column align-items-center border rounded p-5">
        <h1>There are <%= @events.count %> events availables</h1>
        <%= render "event" %>
      </div>
    <% else %>
      <h6>
      There are no events yet!
      <h6>
      <%= link_to "Back to all events", "/show_events", class: "txt" %>
    <% end %>
  </div>
</section>