<section class="container d-flex flex-column justify-content-around align-items-center p-2">

  <div id="<%= dom_id event %>" class="bg-warning p-5 d-flex flex-column justify-content-around align-items-center text-center rounded">
    <p>
      <strong class="txt">Title:</strong>
      <br>
      <%= event.title %>
    </p>

    <p>
      <strong class="txt">Description:</strong>
      <br>
      <%= event.description %>
    </p>

    <p>
      <strong class="txt">Date event:</strong>
      <br>
      <%= event.date_event %>
    </p>

    <p>
      <strong class="txt">Duration time:</strong>
      <br>
      <%= event.duration_time %>
    </p>

    <p>
      <strong class="txt">Place:</strong>
      <br>
      <%= event.place %>
    </p>

    <p>
      <strong class="txt">Min number of joiners:</strong>
      <br>
      <%= event.min_number_of_joiners %>
    </p>

    <p>
      <strong class="txt">Max number of joiners:</strong>
      <br>
      <%= event.max_number_of_joiners %>
    </p>

    <p>
      <strong class="txt">Price:</strong>
      <br>
      <%= event.price %>€
    </p>

    <p>
      <strong class="txt">Min age:</strong>
      <br>
      <%= event.min_age %>
    </p>

    <button><a link_to events/:id/subcribe> subscribe</a>
    </button>

  </div>
</section>