<section class="container d-flex flex-column justify-content-around align-items-center p-2">

  <div id="<%= dom_id event %>" class="form-div p-5 d-flex flex-column justify-content-around align-items-center text-center rounded">
    <p>
      <strong>Title:</strong>
      <%= event.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= event.description %>
    </p>

    <p>
      <strong>Date event:</strong>
      <%= event.date_event %>
    </p>

    <p>
      <strong>Duration time:</strong>
      <%= event.duration_time %>
    </p>

    <p>
      <strong>Place:</strong>
      <%= event.place %>
    </p>

    <p>
      <strong>Min number of joiners:</strong>
      <%= event.min_number_of_joiners %>
    </p>

    <p>
      <strong>Max number of joiners:</strong>
      <%= event.max_number_of_joiners %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= event.price %>
    </p>

    <p>
      <strong>Min age:</strong>
      <%= event.min_age %>
    </p>

  </div>
</section>