<% @events.each do |event| %>
  <div id="events" class="event-items">
    <a href="/events/<%= event.id %>">
      <div class="event-img">
        <%= image_tag event.image %>
      </div>
      <h3> <%= event.title %> </h3>
      
      <p> <%= event.description %> </p>
      
      <p> <%= event.date_event %> </p>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    </a>
  </div>
<% end %>