<section class="container event-item-container">
  <div id="<%= dom_id event %>" class="event-item">
    <h1><%= event.title %></h1>

    <a href="/locations/<%= @position.id %>" class="link"><%= event.place %></a>

    <div class="event-item-img">
      <%= image_tag event.image, width: "100%" %>
    </div>
    <div class="event-item-body">
      <div class="event-item-left">
        <h4>
          <%= event.description %>
        </h4>
        <div class="event-item-tags">
          <% event.tags.each do |tag| %>
            <div class="event-label text-white bg-danger rounded"><%= tag.label %></div>
          <% end %>
        </div>
        <hr>
          <div class="d-flex icon">
            <div class="mr-3">
              <%= image_tag "design.png", width: 30, height: 30, class: "m-1" %>
            </div>
            <div>
              <h6>Designed by</h5>
              <a class="ml-1 link" href="/users/<%= event.organizer_id %>"><%= User.find(event.organizer_id).username.camelize %></a>
            </div>
          </div>
        <hr>
        <p>
          <% if !event.completed? %>
            <br>
            <strong><%= event.places_left %> Places left</strong>
          <% else %>
            <strong class="text-danger">Subscriptions out!</strong>
          <% end %>
        </p>
      </div>
      <div class="event-item-right">
        <p>
          <strong>Price:</strong>
          <br>
          <%= event.price %>€
        </p>
        <p>
          <strong>Min age:</strong>
          <br>
          <%= event.min_age %>
        </p>
        <p>
          <strong>Date event:</strong>
          <br>
          <%= event.date_event.strftime("%d, %B, %Y at %H:%M") %>
        </p>
        <p>
          <strong>Duration time:</strong>
          <br>

          <%= event.duration_time %> H 

        </p>
        <% if current_user.id != event.organizer_id && !current_user.banned? %>

          <% if !current_user.inscripted?(event) && !event.completed? %>
            <%= button_to "Subscribe", event_inscriptions_url(event), class: "btn bg-logo text-white" %>
          <% end %>
          <% if current_user.inscripted?(event) %>
            <%= button_to "Unsubscribe", event_inscription_url(event, current_user.inscription_by_event(event.id)), method: :delete, data: {turbo: false}, class: "btn bg-logo text-white" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>