<% @events.each do |event| %>
  <div id="events" class="event-items">
    <a href="/events/<%= event.id %>">
      <div class="event-img">
        <%= image_tag event.image %>
      </div>
      <h3 style="color:black; font-weight:300;"> <%= event.title %> </h3>
      <p style="min-height:50px; max-height:90px; font-weight:100; overflow:hidden;"> <%= event.description %> </p>
      <p> <%= event.date_event %> </p>
      <p>
        <%= link_to "Show this event", event, class: "txt" %>
      </p>
    </a>
  </div>
<% end %>