<section class="d-flex flex-column align-items-center">
  <%= form_with(model: event) do |form| %>
      <% if event.errors.any? %>
        <div style="color: red" class="text-center mt-5">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
              <% event.errors.each do |error| %>
                <li class="nav-link"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <div class="form-div m-5 p-5 d-flex flex-column  align-items-center w-100 text-center rounded">

      <h1>Event</h1>
      
      <div>
        <%= form.text_field :title, placeholder: "Title", class: "text-center m-3" %>
      </div>

      <div>
        <%= form.text_area :description, placeholder: "Description", class: "text-center m-3" %>
      </div>
      
      <div>
        <%= form.label :date_event, style: "display: block" %>
        <%= form.date_field :date_event, class: "text-center m-1 mb-3" %>
      </div>

      <div>
        <%= form.label :duration_time, style: "display: block" %>
        <%= form.time_field :duration_time, class: "m-1"  %>
      </div>

      <div>
        <%= form.text_field :place, placeholder: "Place", class: "text-center m-3" %>
      </div>

      <div>
        <%= form.text_field :min_number_of_joiners, placeholder: "Min number of joiners", class: "text-center m-3" %>
      </div>

      <div>
        <%= form.text_field :max_number_of_joiners, placeholder: "Max number of joiners", class: "text-center m-3" %>
      </div>

      <div>
        <%= form.text_field :price, placeholder: "Price", class: "text-center m-3" %>
      </div>

      <div>
        <%= form.number_field :min_age, placeholder: "Min age", class: "text-center m-3" %>
      </div>

      <section class="m-3">
        <%= form.submit class: "btn bg-logo text-white" %>
      </div>
    </div>
    
  <% end %>
</section>