<section class="d-flex flex-column align-items-center">
  
  <%= form_with(model: event) do |form| %>
      
      <% if event.errors.any? %>
        
        <div style="color: red" class="text-center mt-5">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
              <% event.errors.each do |error| %>
                <li class="nav-link"><%= error.full_message %></li>
              <% end %>
            </ul>
        </div>

      <% end %>
    
    <div class="form-div form-new m-5 p-5 d-flex flex-column  align-items-center text-center rounded">    
      <h1>Event</h1>
      <div class="d-flex">
        <%= form.text_field :title, placeholder: "Title", class: "text-center m-3" %>
      </div>
      <div>
        <%= form.text_area :description, placeholder: "Description", class: "text-center m-3" %>
      </div>
      <div>
          <%= form.label :date_event, style: "display: block" %>
          <%= form.datetime_field :date_event, class: "text-center m-1 mb-3" %>
      </div>
      <div>
          <%= form.label :duration_time, style: "display: block" %>
          <%= form.number_field :duration_time, placeholder: "hours", class: "text-center w-75 ml-2 mb-3" %>
      </div>
      <div>
      </div>
      <div data-controller="maps">
        <%= form_with(model: @event) do |f| %>
          <div id="searchBoxContainer">
            <%= form.text_field :place, placeholder: "Place", autocomplete:"off", id: "searchBox", class: "text-center m-3"%>
          </div>
            <%= f.text_field :latitude, id: "place_latitude", data: {"maps-target": "latitude"}, class: "d-none" %>
            <%= f.text_field :longitude, id: "place_longitude", data: {"maps-target": "longitude"}, class: "d-none"  %>
        <% end %>
        <div data-maps-target="myMap" class="rounded" style="width:30vw; height:30vh;"></div>
      </div>
      <div>
        <%= form.text_field :min_number_of_joiners, placeholder: "Min number of joiners", class: "text-center m-3" %>
      </div>

      <div>
        <%= form.text_field :max_number_of_joiners, placeholder: "Max number of joiners", class: "text-center m-3" %>
      </div>
 
      <div class="label border">
        <%= form.collection_check_boxes :tag_ids, Tag.order(:label), :id, :label %> 
      </div>
      
      <div>
        <%= form.number_field :price, placeholder: "Price", class: "text-center", in: 0.00..2000.00, step: 0.50 %>
      </div>

      <div>
        <%= form.number_field :min_age, placeholder: "Min age", class: "text-center m-3" %>
      </div>

      <div class="image-field ml-3">
        <%= form.file_field :image, style: "margin-left:20px; font-size: 20px; opacity: .6; color:black;" %>
      </div>

      <section class="m-3">
        <%= form.submit class: "btn bg-logo text-white" %>
      </div>
    </div>
  <% end %>
</section>