<section class="index-section">
  <% if user_session %>
    <%= render "nav_events" %>
    <%= render "search_form" %>

    <% if current_user && @events.present? %>
      <div class="mt-3 text-center">
        <%= link_to "Add event", new_event_path, class: "txt" %>
      </div>
    <% end %>
  
    <% if @events.present? %>
      <div class="container container-events">
        <%= render "events" %>
      </div>
    <% else %>
      <div class=" mt-5 text-center">
        <h6>
        There are no events yet, add one!
        <h6>
        <%= link_to "Add one", new_event_path %>
      </div>
    <% end %>

   
  <% else %>
    <div class="d-flex flex-column w-100 align-items-center">

      <%= image_tag "FunWith.png", width: 300, height: 300 %>
      <h5>Subscribe if you want to enjoy interesting and fun events near you!</h5>
      <li class="nav-link"><a class="btn bg-logo text-white" href="/users/sign_up">Sign up</a></li>
    
    </div>
  <% end %>
</section>