<p style="color: green"><%= notice %></p>
<div class="containar-fluid text-center d-flex flex-column justify-content-center align-items-center">
    <%= link_to "Add new event", new_event_path, class: "btn btn-primary" %>
  <% if @events.first %>
    
    <% @events.each do |event| %>
      <div id="events" class="bg-warning w-50 mt-5 p-4 rounded">
          <h3> <%= event.title %> </h3>
          <p> <%= event.description %> </p>
          <h5> <%= event.date_event %> </h5>
          <p>
            <%= link_to "Show this event", event %>
          </p>
      </div>
    <% end %>
  <% else %>
    <h6>
    There are no events yet, add one!
    <h6>
    <%= link_to "New event", new_event_path %>
  <% end %>
</div>