<section class="container-tag-form d-flex justify-content-center">

  <%= form_with(model: [:admin, @tag]) do |form| %>
    <% if @tag.errors.any? %>
      <div style="color: red; width: 100%;">
        <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

        <ul>
          <% @tag.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-div d-flex flex-column justify-content-center align-items-center text-center rounded">
      <h3>Tag</h3>
      
      <div>
        <%= form.text_field :label, placeholder: "Label", class: "text-center m-3" %>
      </div>

      <div>
        <%= form.text_area :description, placeholder: "Description", class: "text-center m-3 mb-4" %>
      </div>

      <div class="mb-4 ml-5 pl-5">
        <div class="ml-4">
          <%= form.file_field :image, style: "style: font-size: 20px; opacity: .6; color:black;" %>
        </div>
      </div>

      <div>
        <%= form.submit class: "btn bg-logo text-white" %>
      </div>
    </div>
  <% end %>
</section>
