  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div data-controller="maps">
  <%= form_with(model: location) do |f| %>

    <div>
      <%= f.label :address, style: "display: block" %>
      <%= f.text_field :address, id: "searchbox" %>
    </div>

    <div>
      <%= f.label :latitude, style: "display: block" %>
      <%= f.text_field :latitude, id: "place_latitude", data: {"maps-target": "latitude"} %>
    </div>

    <div>
      <%= f.label :longitude, style: "display: block" %>
      <%= f.text_field :longitude, id: "place_longitude", data: {"maps-target": "longitude"}  %>
    </div>

    <div>
      <%= f.submit %>
    </div>
    
    <div data-maps-target="myMap" style="width:50vw; height:50vh;"></div>
  <% end %>
</div>
