<!DOCTYPE html>
<html>
  <head>
    <title>FunWith</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   
    <nav class="nav-bar container-fluid">
      <ul>
        <%= image_tag "FunWith.png", class: "mt-1 logo" %>
        <li class=""><a class="" href="/">Home</a></li>
        <% if current_user %>
          <li class=""><a class="" href="/events?search[organizer]=<%= current_user.username %>">Your events</a></li>
          <li class=""><a class="" href="/users/<%= current_user.id %>">Profile</a></li>
        <% end %>
        <% if current_user && current_user.admin? %>
          <li class=""><a class="" href="/admin/tags">Tags</a></li>
        <% end %>
        <% if !current_user %>   
        <li><a class="btn bg-logo text-white signin" href="/users/sign_in">Sign in</a></li>
        <% end %>
        <% if current_user %>  
          <li class="">
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: " " %>          
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="div-errors d-flex justify-content-center text-center">
      <% if notice %>  
        <p class="notice bg-logo w-25 text-white  rounded"><%= notice %></p>
      <% end %> 
      <% if alert %>
        <p class="alert bg-danger w-25 text-white  rounded"><%= alert %></p>
      <% end %> 
    </div>
    <%= yield %>
    <%# <footer class="nav-bar container-fluid h-25 p-2 border rounded" style="height: 80px;">
      <ul class="d-flex flex-row justify-content-around align-items-center">
        <li class=""><a class=" " href="/">About</a></li>
        <li class=""><a class=" " href="/">Contact</a></li>
        <li class=""><a class=" " href="/">Help</a></li>
      </ul>
    </footer> %>
  </body>
</html>
